.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: var(--exp-texto);
}
.experiencia-texto strong {
  color: var(--texto-header);
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: var(--header-a);
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  gap: 10px 20px;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#4169e1, #87cefa);
  position: absolute;
  top: 20px;
  left: -4px;
}
.empresa-ano {
  position: absolute;
  top: 22px;
  left: -60px;
  color: var(--introducao-p);
  font-size: 0.875rem;
  /* background: #4169E1; */
}
.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-titulo:hover{
  color: white;
  font-size: 1.130rem;
}
.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--introducao-p);
}
.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}
.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: var(--cor-formacao);
  padding: 5px 10px;
}
@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: var(--texto-header);
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    color: #4169e1;
  }
  .empresa-ano::before {
    content: "Ano: ";
    color: var(--texto-header);
  }
}
@media (max-width:400px){
  .empresa{
    grid-template-columns: 1fr;
  }
  
}
